In [1]:
__imp

Libraries have been loaded

## Load Additional Libraries

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import log_loss

basepath = os.path.expanduser('~/Desktop/src/ml/talking_data/')

## Load Data

In [3]:
%%time

gender_age_train         = pd.read_feather(os.path.join(basepath, 'data/processed/gender_age_train.feather'))
gender_age_test          = pd.read_feather(os.path.join(basepath, 'data/processed/gender_age_test.feather'))
label_categories         = pd.read_feather(os.path.join(basepath, 'data/processed/label_categories.feather'))
app_labels               = pd.read_feather(os.path.join(basepath, 'data/processed/app_labels.feather'))
phone_brand_device_model = pd.read_feather(os.path.join(basepath, 'data/processed/phone_brand_device_model.feather')) 
app_events               = pd.read_feather(os.path.join(basepath, 'data/processed/app_events.feather'))
events                   = pd.read_feather(os.path.join(basepath, 'data/processed/events.feather'))

CPU times: user 164 ms, sys: 196 ms, total: 360 ms
Wall time: 359 ms

## Sample

In [4]:
def get_train_test(gender_age_train):
    dtr, dte, _, _ = train_test_split(gender_age_train, 
                                           gender_age_train.group, 
                                           stratify=gender_age_train.group,
                                           test_size=.2
                                          )
    
    dtr, dval, _, _ = train_test_split(dte, dte.group,
                                       stratify=dte.group,
                                       test_size=.2
                                      )
    
    del dte
    gc.collect()
    
    return dtr, dval

In [5]:
dtr, dval = get_train_test(gender_age_train)

In [6]:
dval.group.value_counts(normalize=True)

M23-26    0.128600
M32-38    0.126926
M39+      0.114869
M22-      0.100469
M29-31    0.097790
F33-42    0.074347
M27-28    0.073007
F23-      0.067649
F29-32    0.061956
F24-26    0.056263
F43+      0.056263
F27-28    0.041862
Name: group, dtype: float64

In [7]:
dtr.group.value_counts(normalize=True)

M23-26    0.128695
M32-38    0.126936
M39+      0.114963
M22-      0.100310
M29-31    0.097965
F33-42    0.074521
M27-28    0.072930
F23-      0.067655
F29-32    0.061961
F43+      0.056184
F24-26    0.056100
F27-28    0.041782
Name: group, dtype: float64

In [8]:
# check number of device with no events in training and test set
_ = dtr.merge(events, on='device_id', how='left')
print('Train: {}'.format(_[_.event_id.isnull()].shape[0] / len(_)))

_ = dval.merge(events, on='device_id', how='left')
print('Validation: {}'.format(_[_.event_id.isnull()].shape[0] / len(_)))

Train: 0.03748520139863991
Validation: 0.03720964234150264

In [9]:
# dictionary for brand names
chinese_to_eng_brands = {
'三星'   : 'samsung',
'天语'   : 'Ktouch',
'海信'   : 'hisense',
'联想'   : 'lenovo',
'欧比'   : 'obi',
'爱派尔' : 'ipair',
'努比亚' : 'nubia',
'优米'   : 'youmi',
'朵唯'   : 'dowe',
'黑米'   : 'heymi',
'锤子'   : 'hammer',
'酷比魔方': 'koobee',
'美图'   : 'meitu',
'尼比鲁' : 'nibilu',
'一加'   : 'oneplus',
'优购': 'yougo',
'诺基亚': 'nokia',
'糖葫芦': 'candy',
'中国移动':'ccmc',
'语信': 'yuxin',
'基伍': 'kiwu',
'青橙': 'greeno',
'华硕': 'asus',
'夏新': 'panosonic',
'维图': 'weitu',
'艾优尼': 'aiyouni',
'摩托罗拉': 'moto',
'乡米': 'xiangmi',
'米奇': 'micky',
'大可乐': 'bigcola',
'沃普丰': 'wpf',
'神舟': 'hasse',
'摩乐': 'mole',
'飞秒': 'fs',
'米歌': 'mige',
'富可视': 'fks',
'德赛': 'desci',
'梦米': 'mengmi',
'乐视': 'lshi',
'小杨树':'smallt',
'纽曼': 'newman',
'邦华' : 'banghua',
'E派' : 'epai',
'易派': 'epai',
'普耐尔': 'pner',
'欧新': 'ouxin',
'西米': 'ximi',
'海尔': 'haier',
'波导': 'bodao',
'糯米': 'nuomi',
'唯米': 'weimi',
'酷珀': 'kupo',
'谷歌': 'google',
'昂达': 'ada',
'聆韵': 'lingyun',
'华为': 'Huawei',
'小米': 'millet',
'魅族': 'Meizu',
'金立': 'Gionee'
}

### Traintest

In [18]:
%%time

# merge with other data frames
tr =  dtr\
        .merge(phone_brand_device_model, on='device_id', how='left')
        
tr.loc[:, 'phone_brand'] = tr.phone_brand.map(lambda x: chinese_to_eng_brands[x] if x in chinese_to_eng_brands else x)

te = dval\
        .merge(phone_brand_device_model, on='device_id', how='left')
        
te.loc[:, 'phone_brand'] = te.phone_brand.map(lambda x: chinese_to_eng_brands[x] if x in chinese_to_eng_brands else x)

traintest = pd.concat((tr, te))
ntrain    = len(tr)

del tr, te
gc.collect();

CPU times: user 144 ms, sys: 7.99 ms, total: 152 ms
Wall time: 152 ms

### Feature Engineering

In [19]:
%%time

traintest.loc[:, 'phone_brand']  = pd.factorize(traintest.phone_brand)[0]
traintest.loc[:, 'device_model'] = pd.factorize(traintest.device_model)[0]

# target encoding
traintest.loc[:, 'group']        = pd.factorize(traintest.group)[0]

CPU times: user 19 ms, sys: 28 µs, total: 19 ms
Wall time: 18.3 ms

In [20]:
%%time

# phone brand (freq)
traintest.loc[:, 'phone_brand_freq']  = traintest.groupby('phone_brand')['phone_brand'].transform(lambda x: len(x))

# device model (freq)
traintest.loc[:, 'device_model_freq'] = traintest.groupby('device_model')['device_model'].transform(lambda x: len(x))

# number of different device models for a particular brand
num_diff_models = traintest.groupby('phone_brand').apply(lambda x: x['device_model'].nunique())
traintest.loc[:, 'num_diff_models'] = traintest.phone_brand.map(num_diff_models)

# most_generated_event
most_generated_event = events.groupby('device_id').apply(lambda x: x['event_id'].value_counts().index.values[0])
traintest.loc[:, 'most_generated_event'] = traintest.device_id.map(most_generated_event).fillna(-1)

# hour with most number of events by device
hour_with_most_events = events.groupby('device_id')\
                              .apply(lambda x: x['timestamp'].dt.hour.value_counts().index.values[0])


traintest.loc[:, 'hour_with_most_events'] = traintest.device_id.map(hour_with_most_events).fillna(0)

# number of different hours at which events were generated
num_diff_hours = events.groupby('device_id').apply(lambda x: x['timestamp'].dt.hour.nunique())
traintest.loc[:, 'num_diff_hours'] = traintest.device_id.map(num_diff_hours).fillna(-1)

# number of events generated by a device
num_events = events.device_id.value_counts()
traintest.loc[:, 'num_events'] = traintest.device_id.map(num_events).fillna(0)

del num_diff_models, most_generated_event, hour_with_most_events, num_events
del num_diff_hours
gc.collect();

CPU times: user 1min 46s, sys: 236 ms, total: 1min 46s
Wall time: 1min 46s

In [21]:
FEATURES = ['phone_brand', 
            'device_model', 
            'phone_brand_freq', 
            'device_model_freq',
            'num_diff_models',
            'most_generated_event',
            'hour_with_most_events',
            'num_events',
            'num_diff_hours'
           ]

X_tr = traintest.iloc[:ntrain].loc[:, FEATURES]
y_tr = traintest.iloc[:ntrain].loc[:, 'group']

X_val = traintest.iloc[ntrain:].loc[:, FEATURES]
y_val = traintest.iloc[ntrain:].loc[:, 'group']

In [22]:
print('Shape of feature set (train) : {}'.format(X_tr.shape))
print('Shape of feature set (test) : {}'.format(X_val.shape))

Shape of feature set (train) : (11980, 9)
Shape of feature set (test) : (2996, 9)

In [23]:
X_tr.head()

,phone_brand,device_model,phone_brand_freq,device_model_freq,num_diff_models,most_generated_event,hour_with_most_events,num_events,num_diff_hours
0,0,0,207,40,41,-1.0,0.0,0.0,-1.0
1,1,1,3475,612,26,-1.0,0.0,0.0,-1.0
2,2,2,1151,102,54,3168763.0,12.0,112.0,22.0
3,3,3,156,1,57,3242367.0,10.0,32.0,12.0
4,4,4,2739,431,114,-1.0,0.0,0.0,-1.0

In [40]:
m = RandomForestClassifier(n_estimators=100, max_depth=5, min_samples_leaf=1, n_jobs=-1, random_state=SEED)
m.fit(X_tr, y_tr)

val_preds = m.predict_proba(X_val)
print('Log Loss: {}'.format(log_loss(y_val, val_preds)))

Log Loss: 2.398478752790445

In [41]:
m.feature_importances_

array([0.09618525, 0.10137924, 0.11913002, 0.10659218, 0.18675672,
       0.09503783, 0.06931076, 0.13680519, 0.08880281])